.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(53, 52, 52);
  color: antiquewhite;
  height: 100px;
}
.contacts-list {
  width: 80%;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  font-weight: 900;
}
